<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MazeGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB2B97C21D0A857D00147D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB2B97DA1D0A857D00147D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB2B97E51D0A857D00147D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
